<app-banner [contador]="contador" (contadorActualizado)="actualizarContador($event)"></app-banner>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-incrementar [contador]="contador" (contadorActualizado)="actualizarContador($event)"></app-incrementar>
    </div>
    <div class="col-sm-6">
      <app-decrementar [contador]="contador" (contadorActualizado)="actualizarContador($event)"></app-decrementar>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-6">
      <app-multiplicar [contador]="contador" (contadorActualizado)="actualizarContador($event)"></app-multiplicar>
    </div>
    <div class="col-sm-6">
      <app-dividir [contador]="contador" (contadorActualizado)="actualizarContador($event)"></app-dividir>
    </div>
  </div>
</div>